* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    background: none;
}

button, input {
    border: none;
    outline: none;
}
