@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

h3 {
  font-family: 'Orbitron', sans-serif;
}
