<!DOCTYPE html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>Awesome Search API</title>
    <meta name="title" content="Awesome Search API">
    <meta name="description" content="Open source Awesome lists search app with REST API.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://api.awesomesearch.in/">
    <meta property="og:title" content="Awesome Search API">
    <meta property="og:description" content="Open source Awesome lists search app with REST API.">
    <meta property="og:image" content="/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://api.awesomesearch.in/">
    <meta property="twitter:title" content="Awesome Search API">
    <meta property="twitter:description" content="Open source Awesome lists search app with REST API.">
    <meta property="twitter:image" content="/logo.png">

    <link rel="stylesheet" href="/index.css">
</head>
<body>

{{{body}}}

</body>
</html>
