<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>Awesome Search API</title>
    <meta name="title" content="Awesome Search API">
    <meta name="description" content="Open source Awesome lists search app with REST API.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://api.awesomesearch.in/">
    <meta property="og:title" content="Awesome Search API">
    <meta property="og:description" content="Open source Awesome lists search app with REST API.">
    <meta property="og:image" content="/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://api.awesomesearch.in/">
    <meta property="twitter:title" content="Awesome Search API">
    <meta property="twitter:description" content="Open source Awesome lists search app with REST API.">
    <meta property="twitter:image" content="/logo.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
        }
        body {
            background: #F5F7FB;
        }
    </style>
</head>
<body>

{{{body}}}

</body>
</html>
