<link rel="stylesheet" href="/dashboard.css">

<div id="container">
    <div id="stats-container">
        <ul>
            <li>NUMBER OF LINKS: <span id="link-n"></span></li>
            <li>NUMBER OF REPOS: <span id="repo-n"></span></li>
        </ul>
    </div>
    <label id="url-label">
        Awesome repo url
        <input id="url" type="text" placeholder="Enter url ..." />
    </label>
    <button id="submit">Submit</button>
</div>

<script>
    let input;
    let submit;
    let linkCount;
    let repoCount;

    window.addEventListener('load', onLoad);

    function onLoad () {
        input = document.getElementById('url');
        submit = document.getElementById('submit');
        linkCount = document.getElementById('link-n');
        repoCount = document.getElementById('repo-n');
        setInterval(updateStats, 1000);
        registerListeners();
    }


    function registerListeners () {
        submit.addEventListener('click', async function () {
            const response = await fetch(`/awesome?url=${input.value}`, {
                method: 'POST'
            });
            const body = await response.json();
            if (!response.ok) {
                console.error(body);
            }
        });
    }

    async function updateStats () {
        const response = await fetch('/stats');
        const body = await response.json();
        linkCount.innerText = body.link_count;
        repoCount.innerText = body.repo_count;
    }

</script>
