node_modules
package-lock.json
build
.idea
.vscode
examples
test.config.json
out
CLIPBOARD.txt
graph.dot.svg
graph.ddot.svg
.env.development
.env.production
.env
/TODO.md
src/tests/res
.cache
data
build
